/* codemirror style */
.CodeMirror {
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  padding-bottom: 40px;
  border-left: 5px solid #eee;
  line-height: 1.6;
  color: #333;
  font-size: 16px; }
  .CodeMirror pre {
    padding: 0 10px; }
  .CodeMirror .cm-header {
    color: inherit; }
  .CodeMirror .cm-formatting {
    color: #bbb; }
  .CodeMirror .cm-variable-2 {
    color: #0777e6; }
  .CodeMirror .cm-formatting-list {
    color: #8ebce8; }
  .CodeMirror .cm-formatting-quote {
    color: #75cc75; }
  .CodeMirror .cm-comment {
    color: #c7254e; }
  .CodeMirror .cm-formatting-code, .CodeMirror .cm-formatting-code-block {
    font-size: inherit;
    padding: 0;
    color: #af6b7c; }

.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
  background: #fff; }

.CodeMirror-gutters {
  border: none; }

.cm-header-1 {
  padding: 15px 0;
  font-size: 30px; }

.cm-header-2 {
  padding: 13px 0;
  font-size: 26px; }

.cm-header-3 {
  padding: 11px 0;
  font-size: 22px; }

.cm-header-4 {
  padding: 9px 0;
  font-size: 18px; }

.cm-header-5 {
  padding: 7px 0;
  font-size: 16px; }

.cm-header-6 {
  padding: 7px 0;
  font-size: 16px;
  color: #777; }

.form-control {
  border-radius: 2px; }
  .form-control:focus {
    border-color: #1B95E0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .form-control.input-error:focus {
    border-color: #F44336; }

.book-wraper {
  height: 100%;
  position: relative;
  background: #f9f9f9; }
  .book-wraper.book-full-wraper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1041; }

.book-notfull-wraper {
  border: 1px solid #e8e8e8; }
  .book-notfull-wraper .book-tool-btn {
    border: none; }
  .book-notfull-wraper .book-codemirror {
    padding: 20px; }
  .book-notfull-wraper .book-preview {
    padding: 20px; }

.book-editor {
  left: 0; }

.book-editor, .book-preview {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0; }

.book-preview {
  padding: 40px 10px;
  border-left: 1px solid #eee;
  z-index: 10;
  right: 0; }

.book-codemirror {
  padding: 40px 20px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto; }

.book-tool-group {
  display: inline-block;
  padding: 0 3px; }

.book-tool-btn {
  color: inherit;
  background: none;
  padding: 3px 8px;
  border: 1px solid #e2dfdf;
  margin-left: -1px;
  font-size: 15px;
  outline: none !important;
  border-radius: 0; }
  .book-tool-btn.disabled {
    color: #aaa; }
    .book-tool-btn.disabled:hover, .book-tool-btn.disabled:focus {
      background: none;
      box-shadow: none; }
  .book-tool-btn:hover {
    background: #eee; }

.book-scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 7px;
  background: transparent; }

.book-scrollbar::-webkit-scrollbar:hover {
  background: rgba(128, 128, 128, 0.1); }

.book-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px; }

.book-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6); }

.book-scrollbar::-webkit-scrollbar-corner {
  background: #000; }

.book-modal .modal-content {
  border-radius: 2px; }

.book-modal .form-group {
  font-size: 15px; }
  .book-modal .form-group:before, .book-modal .form-group:after {
    display: table;
    content: " ";
    clear: both; }
  .book-modal .form-group a > label {
    padding: 0;
    margin: 0 5px;
    cursor: pointer; }
  .book-modal .form-group .fa {
    font-size: 19px;
    color: #999; }

.book-modal label {
  font-weight: normal;
  color: #444;
  padding: 6px;
  margin: 0 0 2px; }

.book-modal input[type="text"] {
  color: #333;
  padding: 8px;
  display: inline-block;
  outline: none;
  height: 33px; }

.book-modal h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 15px; }

.book-modal .center-text {
  text-align: center; }

.book-modal .new-dialog .title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666; }

.book-modal .new-dialog .form-control {
  width: 100%; }

.book-modal .new-dialog .catalog-type {
  text-align: center;
  font-size: 15px;
  color: #333;
  width: 50%;
  float: left;
  cursor: pointer; }

.book-dialog {
  padding: 15px;
  position: relative; }
  .book-dialog.delete-dialog .center-text {
    padding: 20px 0; }

.watched {
  background: #ccc !important; }

.editor-btn {
  display: inline-block;
  color: #555;
  min-width: 90px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 2px;
  height: 32px;
  font-size: 14px;
  outline: none;
  margin-right: 5px; }
  .editor-btn:hover {
    background-color: #eee; }
  .editor-btn.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
    .editor-btn.danger:hover {
      background-color: #c9302c;
      border-color: #ac2925; }
  .editor-btn.rename {
    height: 34px; }

.book-toolbar {
  padding: 5px 10px;
  margin: 0; }

.book-main {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0; }

.book-editor-wraper {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0; }
  .book-editor-wraper.book-status-wraper .book-editor-area {
    top: 30px; }

.book-editor-status {
  padding: 5px 10px;
  background: #fff;
  position: relative;
  border-top: 1px solid #eeeeee;
  z-index: 10;
  height: 30px;
  color: #9a9a9a; }

.book-editor-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: 1px solid #eee; }

.modal-backdrop.in {
  opacity: .2; }

/* catalog style */
.book-catalog-wraper {
  position: absolute;
  left: 0;
  height: 100%;
  width: 220px;
  background: #fff;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  overflow: hidden;
  z-index: 99; }

.book-catalog-head {
  background: #f8f8f8;
  position: relative;
  padding: 4px 10px;
  color: #333;
  border-bottom: 1px solid #eeeeee; }

.book-catalog-body {
  position: absolute;
  left: 0;
  right: -20px;
  bottom: 0;
  top: 35px;
  overflow-x: hidden;
  overflow-y: scroll; }
  .book-catalog-body .list-group {
    width: 220px; }
  .book-catalog-body .list-group-item {
    padding: 3px 5px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0; }
    .book-catalog-body .list-group-item.node-checked {
      color: #1B95E0; }
    .book-catalog-body .list-group-item:hover .menu {
      display: inline-block; }
    .book-catalog-body .list-group-item.node-selected .menu {
      color: inherit; }
    .book-catalog-body .list-group-item .catalog-link:hover, .book-catalog-body .list-group-item .catalog-link:focus, .book-catalog-body .list-group-item .catalog-link:active {
      text-decoration: none; }
  .book-catalog-body .sortable-ghost {
    padding: 0;
    border: 1px solid #9a9a9a;
    height: 0; }
  .book-catalog-body .menu {
    position: absolute;
    right: 10px;
    color: #9a9a9a;
    font-size: 13px;
    display: none;
    padding: 0 2px;
    outline: none; }
    .book-catalog-body .menu .menu-icon {
      color: inherit; }
  .book-catalog-body .book-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; }
    .book-catalog-body .book-dropdown > .dropdown-menu {
      min-width: 100px; }

.book-catalog-footer {
  text-align: center;
  margin-bottom: 80px;
  width: 220px; }

.book-catalog-main .book-editor-wraper {
  left: 220px; }

.book-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .book-dropdown .dropdown-menu {
    min-width: 100px; }

.book-html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 14px;
  line-height: 2;
  padding-bottom: 10px;
  word-wrap: break-word; }

.book-html > :first-child {
  margin-top: 0 !important; }

.book-html > :last-child {
  margin-bottom: 0 !important; }

.book-html ul,
.book-html ol {
  padding: 0;
  margin: 0 0 20px 25px; }

.book-html ul > li {
  list-style-type: disc; }

.book-html ol > li {
  list-style-type: decimal; }

.book-html .table-bordered > thead > tr > td, .book-html .table-bordered > thead > tr > th {
  border-bottom-width: 1px; }

.book-html img {
  max-width: 100%; }

.book-html td,
.book-html th {
  padding: 0; }

.book-html a {
  color: #4183c4;
  text-decoration: none; }

.book-html a:hover,
.book-html a:active {
  text-decoration: underline; }

.book-html hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }

.book-html hr:before {
  display: table;
  content: ""; }

.book-html hr:after {
  display: table;
  clear: both;
  content: ""; }

.book-html h1,
.book-html h2,
.book-html h3,
.book-html h4,
.book-html h5,
.book-html h6 {
  position: relative;
  font-weight: bold; }

.book-html h1 {
  font-size: 28px;
  line-height: 1.2;
  margin: 32px 0 20px; }

.book-html h2 {
  font-size: 24px;
  line-height: 1.2;
  margin: 28px 0 16px; }

.book-html h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 24px 0 12px; }

.book-html h4 {
  font-size: 16px;
  line-height: 1;
  margin: 20px 0 10px; }

.book-html h5 {
  font-size: 14px;
  line-height: 1;
  margin: 18px 0 8px; }

.book-html h6 {
  font-size: 14px;
  line-height: 1;
  margin: 18px 0 8px;
  color: #777; }

.book-html blockquote {
  border-left: 8px solid #eee; }

.book-html dd {
  margin-left: 0; }

/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000; }

/* plain text */
pre.prettyprint {
  font-size: inherit;
  line-height: 1.6;
  color: inherit;
  border: 0; }

@media screen {
  .str {
    color: #080; }
  /* string content */
  .kwd {
    color: #008; }
  /* a keyword */
  .com {
    color: #800; }
  /* a comment */
  .typ {
    color: #606; }
  /* a type name */
  .lit {
    color: #066; }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo {
    color: #660; }
  .tag {
    color: #008; }
  /* a markup tag name */
  .atn {
    color: #606; }
  /* a markup attribute name */
  .atv {
    color: #080; }
  /* a markup attribute value */
  .dec, .var {
    color: #606; }
  /* a declaration; a variable name */
  .fun {
    color: red; }
  /* a function name */ }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(102, 128, 153, 0.4); }

/* IE indents via margin-left */
ol.linenums {
  margin-left: 35px; }

ol.linenums > li {
  padding-left: 15px; }

pre.prettyprint {
  display: block;
  background-color: rgba(102, 128, 153, 0.05);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1) inset, 45px 0 0 rgba(102, 128, 153, 0.05) inset, 0 1px 0 rgba(102, 128, 153, 0.05);
  padding: 9.5px;
  word-break: break-word; }

/* li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none } */
/* Alternate shading for lines */
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #044; }
  .pun, .opn, .clo {
    color: #440; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #404; }
  .atv {
    color: #060; } }
