@import '../base.scss';

@import '_common.scss';

.welcome-content{
    h4{
        margin-bottom: 10px;
    }
    ul, li{
        list-style-type: disc;
    }
    ul{
        padding-left: 20px;
        line-height: 28px;
        font-size: 15px;
    }
    .btn-book{
        padding: 3px 10px;
        margin-bottom: 10px;
    }
}

.site-form{
    width: 550px;
    margin: 0 auto;
}
.panel{
    .title{
        margin: 0 0 20px;
        font-size: 16px;
    }
}


