{%extends "admin/base.html"%}
{%block title%}
配置 - 北半球
{%endblock title%}

{%block metas%}
{{super()}}
{%endblock metas%}
{%block styles%}
{%if config.get("DEBUG")%}
{%include "_common-css.html"%}
<link rel="stylesheet" href="{{url_for("static", filename="css/admin/start.css")}}">
{%else%}
<link rel="stylesheet" href="{{url_for("static", filename="dist/css/start.min.css")}}">
{%endif%}

{{super()}}
{%endblock styles%}

{%block content%}

<div class="start-page">
    {%include "admin/start/_head.html"%}
    <div class="start-content">
        <h1 class="title">欢迎使用北半球</h1>
        <p>在使用北半球前，您需要配置一下数据库信息。请准备如下信息：</p>
        <ul>
            <li>数据库主机地址</li>
            <li>数据库名称</li>
            <li>数据库用户名</li>
            <li>数据库密码</li>
        </ul>
        <p>配置完成后，会在项目根目录下生成config.py文件!!!</p>
        <p class="b-btn">
        <a class="btn btn-default" href="{{url_for("admin.setup", step=1)}}">开始使用</a>
        </p>
    </div>
</div>

{%endblock content%}

{%block scripts%}

{%if config.get("DEBUG")%}
{%include "_common-js.html"%}
{%else%}
<script src="{{url_for("static", filename="dist/js/common.min.js")}}"></script>
{%endif%}

{{super()}}
{%endblock scripts%}


