{%extends "admin/base.html"%}
{%block title%}
配置 - 北半球
{%endblock title%}

{%block metas%}
{{super()}}
{%endblock metas%}
{%block styles%}
{%if config.get("DEBUG")%}
{%include "_common-css.html"%}
<link rel="stylesheet" href="{{url_for("static", filename="css/admin/start.css")}}">
{%else%}
<link rel="stylesheet" href="{{url_for("static", filename="dist/css/start.min.css")}}">
{%endif%}

{{super()}}
{%endblock styles%}

{%block navbar%}
{%endblock navbar%}

{%block content%}

<div class="start-page">
    {%include "admin/start/_head.html"%}
    <div class="start-content">
        <h1 class="title">数据库连接成功</h1>
        <p>已经成功连接数据库，开始安装...</p>
        <p class="b-btn">
        <a class="btn btn-default" href="{{url_for("admin.install")}}">开始安装</a>
        </p>
    </div>
</div>

{%endblock content%}

{%block scripts%}

{%if config.get("DEBUG")%}
{%include "_common-js.html"%}
{%else%}
<script src="{{url_for("static", filename="dist/js/common.min.js")}}"></script>
{%endif%}

{{super()}}
{%endblock scripts%}


